{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid">

    {% bootstrap_messages %}

    <form method='post' class='my-5 jumbotron p-3' autocomplete="off">
        {% if instance %}
            <h5>Editar usuário</h5>
        {% else %}
            <h5>Cadastro de usuários</h5>
        {% endif %}

        {% csrf_token %}

        <div class="row mx-0 mt-3">
            {% if not instance %}
                <div class="col-12 col-sm-6">
                    <div class="form-group mb-2">
                        <label for="{{ form.username.id_for_label }}">Usuário de acesso</label>
                        {{ form.username }}
                    </div>
                </div>
            {% endif %}
            <div class="col-12 col-sm-6">
                <div class="form-group mb-2">
                    <label for="{{ form.first_name.id_for_label }}">Primeiro nome</label>
                    {{ form.first_name }}
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group mb-2">
                    <label for="{{ form.last_name.id_for_label }}">Sobrenome</label>
                    {{ form.last_name }}
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group mb-2">
                    <label for="{{ form.filial.id_for_label }}">{{ form.filial.label }}</label>
                    {{ form.filial }}
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group mb-2">
                    <label for="{{ form.tipo.id_for_label }}">{{ form.tipo.label }}</label>
                    {{ form.tipo }}
                </div>
            </div>
            {% if not instance %}
                <div class="col-12 col-sm-6">
                    <div class="form-group mb-2">
                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                        {{ form.password }}
                        {{ form.email }}
                    </div>
                </div>
            {% endif %}
            <div class="col-12 my-3">
                {% if instance %}
                    <a href="{% url "usuarios:usuarios" %}" type="reset" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Cancelar
                    </a>
                {% else %}
                    <button type="reset" class="btn btn-secondary">
                        <i class="fas fa-eraser"></i> Limpar
                    </button>
                {% endif %}
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </form>

    {% if not instance %}
        {% if usuarios %}
            <div class="table-responsive mt-5">
                <table class="table table-bordered text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>Ações</th>
                            <th>Nome</th>
                            <th>Filial</th>
                            <th>Tipo</th>
                            <th>Últ. Acesso</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        {% for u in usuarios %}
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <a href="{% url "usuarios:edit_usuarios" u.usuario.id %}" class="btn btn-sm btn-dark btn-edit-usuario" data-usuario="{{ u.id }}"><i class="fas fa-edit"></i></a>
                                    {% if request.user.id != u.usuario.id %}
                                        <button class="btn btn-sm btn-danger btn-delete-usuario" data-usuario="{{ usuario.id }}"><i class="fas fa-trash"></i></button>
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ u.usuario.get_full_name }}</td>
                            <td>{{ u.filial }}</td>
                            <td>{{ u.get_tipo_display }}</td>
                            <td>{{ u.usuario.last_login|date:'d/m/Y H:i' }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="alert alert-warning mt-5">
                Nenhum usuário cadastrado até o momento
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock %}