{% extends 'registration/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="conteiner">
        <div class="row mx-0 mt-5 d-flex align-items-center">
            <div class="col-12 col-md-4 offset-md-4 mt-5">
                <div class="card shadow p-2">
                    <h5 class='text-center my-3'>Acesso ao Sistema</h5>
                    <form method='post' action='{% url "usuarios:login" %}'>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class='btn btn-primary w-100'>Entrar</button>
                        <p class="text-muted text-center mt-2">Esqueceu a senha ou quer criar uma conta? <span class="text-info">Entre em contato com o desenvolvedor.</span></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
