{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid">

    {% bootstrap_messages %}

    <form method='post' class='my-5 jumbotron p-3' autocomplete="off" action="{% url "relatorios:gerar" %}">

        {% csrf_token %}

        <div class="row mx-0 mt-3">
            <div class="col-12 col-sm-6 col-md-3 mb-3 px-0 pr-sm-3">
                <div class="card bg-dark shadow p-3">
                    <h5 class="card-title text-warning">Funcionários</h5>
                    <h1 class="text-light">{{ funcionarios_count }}</h1>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-3 px-0 px-sm-3">
                <div class="card bg-dark shadow p-3">
                    <h5 class="card-title text-warning">Elogios</h5>
                    <h1 class="text-light">{{ elogios_count }}</h1>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-3 px-0 px-sm-3">
                <div class="card bg-dark shadow p-3">
                    <h5 class="card-title text-warning">Ocorrências</h5>
                    <h1 class="text-light">{{ ocorrencias_count }}</h1>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-3 px-0 pl-sm-3">
                <div class="card bg-dark shadow p-3">
                    <h5 class="card-title text-warning">Entregas</h5>
                    <h1 class="text-light">{{ entregas_count }}</h1>
                </div>
            </div>
        </div>
        <hr>

        <h5>Relatórios</h5>

        <div class="col-12 px-0 mt-3">
            <div class="row mx-0">
                <div class="col-12 col-sm-4 px-0 pr-sm-3">
                    <div class="form-group mb-2">
                        <label for="{{ form.data_inicial.id_for_label }}">{{ form.data_inicial.label }}</label>
                        {{ form.data_inicial }}
                    </div>
                </div>
                <div class="col-12 col-sm-4 px-0 px-sm-3">
                    <div class="form-group mb-2">
                        <label for="{{ form.data_final.id_for_label }}">{{ form.data_final.label }}</label>
                        {{ form.data_final }}
                    </div>
                </div>
                <div class="col-12 col-sm-4 px-0 pl-sm-3">
                    <div class="form-group mb-2">
                        <label for="{{ form.tipo.id_for_label }}">{{ form.tipo.label }}</label>
                        {{ form.tipo }}
                    </div>
                </div>
                <div class="col-12 px-0 my-3">
                    <button class="btn btn-primary">Gerar relatório</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}
