{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid">

    {% bootstrap_messages %}

    <form method='get' class='my-5 jumbotron p-3' autocomplete="off">
        <h5>Consulta de entregas</h5>
        <div class="row mx-0 mt-3">
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.data_inicial.id_for_label }}">{{ form.data_inicial.label }}</label>
                    {{ form.data_inicial }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.data_final.id_for_label }}">{{ form.data_final.label }}</label>
                    {{ form.data_final }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.pedido.id_for_label }}">{{ form.pedido.label }}</label>
                    {{ form.pedido }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.entregador.id_for_label }}">{{ form.entregador.label }}</label>
                    {{ form.entregador }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.cliente.id_for_label }}">{{ form.cliente.label }}</label>
                    {{ form.cliente }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.status.id_for_label }}">{{ form.status.label }}</label>
                    {{ form.status }}
                </div>
            </div>
            <div class="col-12 my-3 px-0">
                <button type="reset" class="btn btn-secondary">
                    <i class="fas fa-eraser"></i> Limpar
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i> Pesquisar
                </button>
            </div>
        </div>
    </form>

    <p class="bg-warning p-3">{{ entregas.count }} entrega{{ entregas|pluralize }} encontrada{{ entregas|pluralize }}</p>

    {% if entregas %}

        {% include 'core/utils/consulta_range_dias.html' %}

        <div class="table-responsive mt-5">
            <table class="table table-bordered text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Ações</th>
                        <th>Cliente</th>
                        <th>Endereço</th>
                        <th>Pedido</th>
                        <th>Valor</th>
                        <th>Entregador</th>
                        <th>Saída</th>
                        <th>Recebimento</th>
                        <th>Cadastro</th>
                    </tr>
                </thead>
                <tbody class="table-light">
                    {% for entrega in entregas %}
                        <tr>
                            <td>
                                <div class="btn-group">
                                    {% if not entrega.recebida %}
                                        <button class="btn btn-sm btn-success btn-finaliza-entrega" data-entrega="{{ entrega.id }}"><i class="fas fa-check"></i></button>
                                    {% endif %}
                                    <button class="btn btn-sm btn-info btn-info-entrega" data-entrega="{{ entrega.id }}"><i class="fas fa-info-circle"></i></button>
                                    <a href="{% url "entregas:edit_entregas" entrega.id %}" class="btn btn-sm btn-dark"><i class="fas fa-edit"></i></a>
                                    <button class="btn btn-sm btn-danger btn-delete-entrega" data-entrega="{{ entrega.id }}"><i class="fas fa-trash"></i></button>
                                </div>
                            </td>
                            <td>{{ entrega.nome_cliente }}</td>
                            <td>{{ entrega.endereco_cliente }}</td>
                            <td>{{ entrega.numero_pedido }}</td>
                            <td>{{ entrega.valor_pedido }}</td>
                            <td>{{ entrega.entregador.nome }}</td>
                            <td>{{ entrega.saida_pedido|date:'d/m/Y H:i' }}</td>
                            <td>{{ entrega.recebimento }}</td>
                            <td>{{ entrega.cadastro }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>

{% endblock content %}
