{% extends 'core/base.html' %}
{% load filters %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid">

    {% bootstrap_messages %}

    <form method='post' class='my-5 jumbotron p-3' autocomplete="off">
        {% if instance %}
            <h5>Editar entrega</h5>
        {% else %}
            <h5>Cadastro de entregas</h5>
        {% endif %}

        {% csrf_token %}

        <div class="row mx-0 mt-3">
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.nome_cliente.id_for_label }}">{{ form.nome_cliente.label }}</label>
                    {{ form.nome_cliente }}
                    {{ form.nome_cliente.errors }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.endereco_cliente.id_for_label }}">{{ form.endereco_cliente.label }}</label>
                    {{ form.endereco_cliente }}
                    {{ form.endereco_cliente.errors }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.numero_pedido.id_for_label }}">{{ form.numero_pedido.label }}</label>
                    {{ form.numero_pedido }}
                    {{ form.numero_pedido.errors }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.valor_pedido.id_for_label }}">{{ form.valor_pedido.label }}</label>
                    {{ form.valor_pedido }}
                    {{ form.valor_pedido.errors }}
                </div>
            </div>
                    <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.saida_pedido.id_for_label }}">{{ form.saida_pedido.label }}</label>
                    {{ form.saida_pedido }}
                    {{ form.saida_pedido.errors }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.entregador.id_for_label }}">{{ form.entregador.label }}</label>
                    {{ form.entregador }}
                    {{ form.entregador.errors }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.filial_pedido.id_for_label }}">{{ form.filial_pedido.label }}</label>
                    {{ form.filial_pedido }}
                    {{ form.filial_pedido.errors }}
                </div>
            </div>
            <div class="col-12 px-0">
                <div class="form-group mb-2">
                    <label for="{{ form.detalhes_pedido.id_for_label }}">{{ form.detalhes_pedido.label }}</label>
                    {{ form.detalhes_pedido }}
                    {{ form.detalhes_pedido.errors }}
                </div>
            </div>
            <div class="col-12 my-3 px-0">
                {% if instance %}
                    <a href="{% url "entregas:consulta_entregas" %}" type="reset" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Cancelar
                    </a>
                {% else %}
                    <button type="reset" class="btn btn-secondary">
                        <i class="fas fa-eraser"></i> Limpar
                    </button>
                {% endif %}
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block script %}
{% endblock %}