{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid">

    {% bootstrap_messages %}

    <form method='post' class='my-5 jumbotron p-3' autocomplete="off">
        {% if instance %}
            <h5>Editar elogio</h5>
        {% else %}
            <h5>Cadastro de elogios</h5>
        {% endif %}

        {% csrf_token %}

        <div class="row mx-0 mt-3">
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.data.id_for_label }}">{{ form.data.label }}</label>
                    {{ form.data }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.funcionario.id_for_label }}">{{ form.funcionario.label }}</label>
                    {{ form.funcionario }}
                </div>
            </div>
            <div class="col-12 px-0">
                <label for="{{ form.observacao.id_for_label }}">{{ form.observacao.label }}</label>
                {{ form.observacao }}
            </div>         
            <div class="col-12 my-3 px-0">
                {% if instance %}
                    <a href="{% url "core:consulta_elogios" %}" type="reset" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Cancelar
                    </a>
                {% else %}
                    <button type="reset" class="btn btn-secondary">
                        <i class="fas fa-eraser"></i> Limpar
                    </button>
                {% endif %}
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock content %}
