{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid">

    {% bootstrap_messages %}

    <form method='get' class='my-5 jumbotron p-3' autocomplete="off">
        <h5>Consulta de ocorrências</h5>
        <div class="row mx-0 mt-3">
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.data_inicial.id_for_label }}">{{ form.data_inicial.label }}</label>
                    {{ form.data_inicial }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.data_final.id_for_label }}">{{ form.data_final.label }}</label>
                    {{ form.data_final }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.funcionario.id_for_label }}">{{ form.funcionario.label }}</label>
                    {{ form.funcionario }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.cargo.id_for_label }}">{{ form.cargo.label }}</label>
                    {{ form.cargo }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.motivo.id_for_label }}">{{ form.motivo.label }}</label>
                    {{ form.motivo }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.filial.id_for_label }}">{{ form.filial.label }}</label>
                    {{ form.filial }}
                </div>
            </div>
            <div class="col-12 my-3 px-0">
                <button type="reset" class="btn btn-secondary">
                    <i class="fas fa-eraser"></i> Limpar
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i> Pesquisar
                </button>
            </div>
        </div>
    </form>

    {% if ocorrencias %}

        {% include 'core/utils/consulta_range_dias.html' %}

        <div class="table-responsive mt-5">
            <table class="table table-bordered text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Ações</th>
                        <th>Data</th>
                        <th>Funcionário</th>
                        <th>Cargo</th>
                        <th>Filial</th>
                        <th>Motivo</th>
                        <th>Cadastro</th>
                    </tr>
                </thead>
                <tbody class="table-light">
                    {% for ocorrencia in ocorrencias %}
                    <tr>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-info btn-info-ocorrencia" data-ocorrencia="{{ ocorrencia.id }}"><i class="fas fa-info-circle"></i></button>
                                <a href="{% url 'core:edit_ocorrencias' ocorrencia.id %}" class="btn btn-sm btn-dark btn-edit-ocorrencia" data-ocorrencia="{{ ocorrencia.id }}"><i class="fas fa-edit"></i></a>
                                <button class="btn btn-sm btn-danger btn-delete-ocorrencia" data-ocorrencia="{{ ocorrencia.id }}"><i class="fas fa-trash"></i></button>
                            </div>
                        </td>
                        <td>{{ ocorrencia.data|date:'d/m/Y' }}</td>
                        <td>{{ ocorrencia.funcionario.nome }}</td>
                        <td>{{ ocorrencia.funcionario.cargo.nome }}</td>
                        <td>{{ ocorrencia.funcionario.filial }}</td>
                        <td>{{ ocorrencia.get_motivo_display }}</td>
                        <td>{{ ocorrencia.cadastro }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning mt-5">
            {% if consulta %}
                Nenhuma ocorrência encontrada
            {% else %}
                Nenhuma ocorrência cadastrada até o momento
            {% endif %}
        </div>
    {% endif %}
</div>

{% endblock content %}
