{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid">

    {% bootstrap_messages %}

    <form method='post' class='my-5 jumbotron p-3' autocomplete="off">
        {% if instance %}
            <h5>Editar motivo de ocorrência</h5>
        {% else %}
            <h5>Cadastro de motivos de ocorrência</h5>
        {% endif %}

        {% csrf_token %}

        <div class="row mx-0 mt-3">
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
                    {{ form.nome }}
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.filial.id_for_label }}">{{ form.filial.label }}</label>
                    {{ form.filial }}
                </div>
            </div>
            <div class="col-12 my-3 px-0">
                {% if instance %}
                    <a href="{% url "core:motivos" %}" type="reset" class="btn btn-secondary">
                        Cancelar
                    </a>
                {% else %}
                    <button type="reset" class="btn btn-secondary">
                        Limpar
                    </button>
                {% endif %}
                <button type="submit" class="btn btn-primary">
                    Salvar
                </button>
            </div>
        </div>
    </form>

    {% if not instance %}
        {% if motivos %}
            <div class="table-responsive mt-5">
                <table class="table table-bordered text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>Ações</th>
                            <th>Motivo</th>
                            {% if usuario.administrador %}
                                <th>Filial</th>
                            {% endif %}
                            <th>Cadastro</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        {% for motivo in motivos %}
                        <tr>
                            <td>
                                <div class="btn-group">
                                    {% if usuario.administrador %}
                                        <a href="{% url 'core:edit_motivos' motivo.id %}" class="btn btn-sm btn-dark btn-edit-motivo" data-motivo="{{ motivo.id }}"><i class="fas fa-edit"></i></a>
                                    {% endif %}
                                    <button class="btn btn-sm btn-danger btn-delete-motivo" data-motivo="{{ motivo.id }}"><i class="fas fa-trash"></i></button>
                                </div>
                            </td>
                            <td>{{ motivo.nome }}</td>
                            <td>{{ motivo.filial }}</td>
                            <td>{{ motivo.cadastro }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="alert alert-warning mt-5">
                Nenhum motivo cadastrado até o momento
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock content %}
