{% extends 'core/base.html' %}
{% load filters %}
{% load filters %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid">

    {% bootstrap_messages %}

    <form method='post' class='my-5 jumbotron p-3' autocomplete="off">
        {% if instance %}
            <h5>Editar funcionário</h5>
        {% else %}
            <h5>Cadastro de funcionários</h5>
        {% endif %}

        {% csrf_token %}
        <div class="row mx-0 mt-3">
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
                    {{ form.nome }}
                </div>
            </div>  
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.cargo.id_for_label }}">{{ form.cargo.label }}</label>
                    {{ form.cargo }}
                </div>
            </div> 
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.filial.id_for_label }}">{{ form.filial.label }}</label>
                    {{ form.filial }}
                </div>
            </div>                         
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.admissao.id_for_label }}">{{ form.admissao.label }}</label>
                    {{ form.admissao }}
                </div>
            </div>            
            <div class="col-12 my-3 px-0">
                {% if instance %}
                    <a href="{% url "core:funcionarios" %}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Cancelar
                    </a>
                {% else %}
                    <button type="reset" class="btn btn-secondary">
                        <i class="fas fa-eraser"></i> Limpar
                    </button>
                {% endif %}
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </form>

    {% if not instance %}
        {% if funcionarios %}
            <div class="table-responsive mt-5">
                <table class="table table-bordered text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>Ações</th>
                            <th>Nome</th>
                            <th>Cargo</th>
                            {% if usuario.administrador %}
                                <th>Filial</th>
                            {% endif %}
                            <th>Admissão</th>
                            <th>Últ. Ocorrência</th>
                            <th>Cadastro</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        {% for funcionario in funcionarios %}
                            <tr>
                                <td>
                                    <div class="btn-group">
                                        <a href="{% url 'core:edit_funcionarios' funcionario.id %}" class="btn btn-sm btn-dark" data-toggle="tooltip" title="Editar funcionário"><i class="fas fa-edit"></i></a>
                                        {% if usuario.administrador %}
                                            <button class="btn btn-sm btn-danger btn-delete-funcionario" data-funcionario="{{ funcionario.id }}" data-toggle="tooltip" title="Excluir funcionário"><i class="fas fa-trash"></i></button>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>{{ funcionario.nome }}</td>
                                <td>{{ funcionario.cargo.nome }}</td>
                                {% if usuario.administrador %}
                                    <td>{{ funcionario.filial }}</td>
                                {% endif %}
                                <td>{{ funcionario.admissao|date:'d/m/Y' }}</td>
                                {% if funcionario.ocorrencias.last.observacao %}
                                    <td>{{ funcionario.ocorrencias.last.observacao|truncatewords:20 }} em {{ funcionario.ocorrencias.last.criacao|date:'d/m/Y' }}</td>
                                {% else %}
                                    <td>- - -</td>
                                {% endif %}
                                <td>{{ funcionario.cadastro }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="alert alert-warning mt-5">
                Nenhum funcionário cadastrado até o momento
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock content %}
