{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid">

    {% bootstrap_messages %}

    <form method='post' class='my-5 jumbotron p-3' autocomplete="off">
        <h5>Cadastro de funcionários</h5>
        {% csrf_token %}
        <div class="row mx-0 mt-3">
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
                    {{ form.nome }}
                </div>
            </div>  
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.cargo.id_for_label }}">{{ form.cargo.label }}</label>
                    {{ form.cargo }}
                </div>
            </div> 
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.filial.id_for_label }}">{{ form.filial.label }}</label>
                    {{ form.filial }}
                </div>
            </div>                         
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.admissao.id_for_label }}">{{ form.admissao.label }}</label>
                    {{ form.admissao }}
                </div>
            </div>            
            <div class="col-12 my-3 px-0">
                <button type="reset" class="btn btn-secondary">
                    Limpar
                </button>
                <button type="submit" class="btn btn-primary">
                    Adicionar
                </button>
            </div>
        </div>
    </form>

    {% if funcionarios %}
        <div class="table-responsive mt-5">
            <table class="table table-bordered text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Ações</th>
                        <th>Nome</th>
                        <th>Cargo</th>
                        <th>Admissão</th>
                        <th>Filial</th>
                        <th>Últ. Ocorrência</th>
                        <th>Cadastro</th>
                    </tr>
                </thead>
                <tbody class="table-light">
                    {% for funcionario in funcionarios %}
                        {% with funcionario.ocorrencias.last as ultima_ocorrencia %}
                            <tr>
                                <td>Ações</td>
                                <td>{{ funcionario.nome }}</td>
                                <td>{{ funcionario.cargo }}</td>
                                <td>{{ funcionario.admissao|date:'d/m/Y' }}</td>
                                <td>{{ funcionario.filial }}</td>
                                <td>{% if ultima_ocorrencia %}{{ ultima_ocorrencia.observacao }} em {{ ultima_ocorrencia.data|date:'d/m/Y' }}{% endif %}</td>
                                <td>{{ funcionario.usuario.get_full_name }} em {{ funcionario.criacao|date:'d/m/Y' }}</td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning mt-5">
            Nenhum funcionário cadastrado até o momento
        </div>
    {% endif %}
</div>

{% endblock content %}
