{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid">

    {% bootstrap_messages %}

    <form method='post' class='my-5 jumbotron p-3' autocomplete="off">
        <h5>Cadastro de filiais</h5>
        {% csrf_token %}
        <div class="row mx-0 mt-3">
            <div class="col-12 col-sm-6 px-0 pr-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
                    {{ form.nome }}
                </div>
            </div>  
            <div class="col-12 col-sm-6 px-0 pl-sm-3">
                <div class="form-group mb-2">
                    <label for="{{ form.cidade.id_for_label }}">{{ form.cidade.label }}</label>
                    {{ form.cidade }}
                </div>
            </div>             
            <div class="col-12 my-3 px-0">
                <button type="reset" class="btn btn-secondary">
                    <i class="fas fa-eraser"></i> Limpar
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </form>

    {% if filiais %}
        <div class="table-responsive mt-5">
            <table class="table table-bordered text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Funcionários</th>
                        <th>Cadastro</th>
                    </tr>
                </thead>
                <tbody class="table-light">
                    {% for filial in filiais %}
                    <tr>
                        <td>{{ filial.nome }}</td>
                        <td>{{ filial.cidade }}</td>
                        <td>{{ filial.funcionarios.count }}</td>
                        <td>{{ filial.cadastro }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning mt-5">
            Nenhuma filial cadastrada até o momento
        </div>
    {% endif %}
</div>

{% endblock content %}
